.vs/**/*
Coree.ProxyAutoConfiguration.Cli/.vs/**/*
Coree.ProxyAutoConfiguration.Cli/bin/**/*
Coree.ProxyAutoConfiguration.Cli/obj/**/*
Coree.ProxyAutoConfiguration.Cli.Library/.vs/**/*
Coree.ProxyAutoConfiguration.Cli.Library/bin/**/*
Coree.ProxyAutoConfiguration.Cli.Library/obj/**/*
Coree.ProxyAutoConfiguration.Cli.MSTest/.vs/**/*
Coree.ProxyAutoConfiguration.Cli.MSTest/bin/**/*
Coree.ProxyAutoConfiguration.Cli.MSTest/obj/**/*