.vs/**/*
Coree.ProxyAutoConfiguration.Library/.vs/**/*
Coree.ProxyAutoConfiguration.Library/bin/**/*
Coree.ProxyAutoConfiguration.Library/obj/**/*
Coree.ProxyAutoConfiguration.Library.MSTest/.vs/**/*
Coree.ProxyAutoConfiguration.Library.MSTest/bin/**/*
Coree.ProxyAutoConfiguration.Library.MSTest/obj/**/*
Coree.ProxyAutoConfiguration.Library.MSTest/CoverletOutput/**/*
Coree.ProxyAutoConfiguration.Library.MSTest/BenchmarkDotNetReport/**/*
Coree.ProxyAutoConfiguration.Library.MSTest/ReportGeneratorOutput/**/*
Coree.ProxyAutoConfiguration.Library.MSTest/Docfx/result/web/**/*
Coree.ProxyAutoConfiguration.Library.MSTest/MSTestResults/**/*

#allow
!Coree.ProxyAutoConfiguration.Library.MSTest/CoverletOutput/**/*.xml
!Coree.ProxyAutoConfiguration.Library.MSTest/BenchmarkDotNetReport/**/*.md
!Coree.ProxyAutoConfiguration.Library.MSTest/ReportGeneratorOutput/**/*.md
!Coree.ProxyAutoConfiguration.Library.MSTest/MSTestResults/**/*.html
